 body { 
 	background-color: black; color: white; 
}

#stage-container {
 	background-color: #009900; 
}

input[class="codeEntry"] {
 	width: 22px;
  	text-align: center;

}
#codeInput {
 	width: 240px;
 	height: 70px;
 	overflow: hidden;
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	margin: 0px 0 0 0px;
 	z-index: 10;  
}
.sendMessage{
	 width: 50px;
	 height: 50px;
	 overflow: hidden;
	 position: absolute;
	 top: 40%;
	 left: 50%;
	 margin: 0px 0 0 -90px;
	 z-index: 10;  
}