 body { 
  background-color: black; color: white; 
}
#stage-container {
  background-color: #009900; 
}

#ballsTitle{
 width: 240px;
 height: 34px;
 overflow: hidden;
 position: absolute;
 top: 50%;
 left: 50%;
 margin: -10px 0 0 -60px;
 z-index: 10;

}
.styled-select-names select {
 background: transparent;
 width: 268px;
 padding: 5px;
 font-size: 16px;
 line-height: 1;
 border: 0;
 border-radius: 0;
 height: 34px;
 -webkit-appearance: none;
}

.styled-select-names {
 width: 240px;
 height: 34px;
 overflow: hidden;
 background: url(../img/down_arrow_select.jpg) no-repeat right #ddd;
 border: 1px solid #ccc;
 line-height: 20px;
 position: absolute;
 top: 50%;
 left: 50%;
 margin: -10px 0 0 -120px;
 z-index: 10;
}

.styled-select-colours select {
 background: transparent;
 width: 268px;
 padding: 5px;
 font-size: 16px;
 line-height: 1;
 border: 0;
 border-radius: 0;
 height: 34px;
 -webkit-appearance: none;
}

.styled-select-colours {
 width: 240px;
 height: 34px;
 overflow: hidden;
 background: url(../img/down_arrow_select.jpg) no-repeat right #ddd;
 border: 1px solid #ccc;
 line-height: 20px;
 position: absolute;
 top: 50%;
 left: 50%;
 margin: -10px 0 0 -120px;
 z-index: 10;
}
input[class="codeEntry"] {
  width: 22px;
  text-align: center;

}
#codeInput {
 width: 240px;
 height: 34px;
 overflow: hidden;
 position: absolute;
 top: 50%;
 left: 50%;
 margin: 0px 0 0 -45px;
 z-index: 10;  
}
.sendMessage{
 width: 50px;
 height: 50px;
 overflow: hidden;
 position: absolute;
 top: 50%;
 left: 50%;
 margin: 0px 0 0 -25px;
 z-index: 10;  
}